<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Top</title>
</head>

<body>
    <div class="body">

        <div class="container">
            <form th:action="@{/top}" method="get">
                <button class="header-button">
                    トップに戻る
                </button>
            </form>


            
<div sec:authorize="isAuthenticated()">
    <span sec:authentication="name"></span>
    <span sec:authentication="principal.memberDto.memberName"></span>

    <span th:switch="${#authentication.principal.memberDto.memberRole}">
        <span th:case="'employee'">従業員</span>
        <span th:case="'customer'">顧客</span>
        <span th:case="*">不明</span>
    </span>

    <span sec:authentication="principal.memberDto.memberRank"></span>
</div>

            <div sec:authorize="isAnonymous()">
                ゲスト
            </div>

        </div>


    </div>
</body>

</html>