<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Top</title>
</head>

<body>
    <div class="header">
        <h3> ヘッダー </h3>
        <div th:insert="~{header}"> </div>
    </div>

    <hr>
    <br>

    <div class="body">
        <!-- <h1>メニュー</h1>
        <form th:action="@{/resistMember}" method="get">
            <button class="common-button">
                メンバー登録
            </button>
        </form>
        <form th:action="@{/memberList}" method="get">
            <button class="common-button">
                メンバー一覧
            </button>
        </form>
        <form th:action="@{login}" method="get">
            <button class="common-button">
                ログイン
            </button>
        </form>
        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <button class="common-button">ログアウト</button>
            </form>
        </div>

        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/reviseMember}" method="get">
                <button class="common-button">メンバー情報修正</button>
            </form>
        </div> -->

        <div class="accordion-container">
            <details class="details">
                <summary class="details-summary">ログイン/ログアウト</summary>
                <form th:action="@{login}" method="get">
                    <button class="common-button">
                        ログイン
                    </button>
                </form>
                <div sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post">
                        <button class="common-button">ログアウト</button>
                    </form>
                </div>
                <br>
            </details>


            <details class="details">
                <summary class="details-summary">メンバー管理</summary>
                <form th:action="@{/resistMember}" method="get">
                    <button class="common-button">
                        メンバー登録
                    </button>
                </form>
                <div sec:authorize="isAuthenticated()">
                    <form th:action="@{/reviseMember}" method="get">
                        <button class="common-button">メンバー情報修正</button>
                    </form>
                </div>
                <form th:action="@{/memberList}" method="get">
                    <button class="common-button">
                        メンバー一覧
                    </button>
                </form>
                <br>
            </details>

            <details class="details">
                <summary class="details-summary">商品選択・注文一覧</summary>
                <form th:action="@{/productList}" method="get">
                    <button class="common-button">
                        商品選択
                    </button>
                </form>
                <form>
                    <button class="common-button">
                        商品購入決済
                    </button>
                </form>
                <form>
                    <button class="common-button">
                        注文一覧
                    </button>
                </form>
                <form>
                    <button class="common-button">
                        注文取り消し
                    </button>
                </form>
                <br>
            </details>
        </div>
        <a th:href="@{/survey-create}">実験</a>
    </div>
</body>

</html>