<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>メンバー詳細</title>
</head>

<body>
    <div class="header">
        <h3> ヘッダー </h3>
        <div th:insert="~{header}"> </div>
    </div>

    <hr>
    <br>

    <div class="body">


        <h1>商品選択</h1>


        <table border="2" align="center" th:unless="${#lists.isEmpty(listProductDto)}">
            <tr>
                <th>商品名</th>
                <th>値段</th>
                <th>特徴</th>
            </tr>
            <div class="product-table-area">
                <tr th:each="product : ${listProductDto}">
                    <td class="product-name-cell">
                        <span class="stock-badge" th:text="'残り' + ${product.stock} + '点'" th:if="${product.stock}<10">
                        </span>
                        <a th:href="@{/productDetail/{productId}(productId=${product.productId})}">
                            <span th:text="${product.productName}"></span>
                        </a>
                    </td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.description}"></td>
                </tr>
            </div>
        </table>

        <p style="text-align:center" th:if="${#lists.isEmpty(listProductDto)}">
            <text class="error">該当する商品情報がありません</text>
        </p>


        <form th:action="@{/productList}" method="get">
            <button class="common-button">商品一覧に戻る </button>
        </form>

    </div>


</body>

</html>